 /* h1{
    text-align: center;
    background-color: yellow;
    font-size: 50px;
 }
 table{
     margin-left: 350px;
 }
 .tbl{
     margin-left: 420px;
 }
 td{
     border: 1px solid;
     width: 30px;
     text-align: center;
}
.no{
    border:none ;
}  */