h1{
    text-align: center;}
.para1{
        text-align: center;
    }

.shad{
    text-align: center;
}
.text1{
    margin-left: 590px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: rgb(228, 211, 211);
}
.text2{
    margin-left: 590px;
    margin-top:8px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: rgb(228, 211, 211);
}

.text3{
    margin-left: 590px;
    margin-top:8px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: rgb(228, 211, 211);
}
.text4{
    margin-left: 590px;
    margin-top:8px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: rgb(228, 211, 211);
}
.text5{
    margin-left: 590px;
    margin-top:8px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: rgb(228, 211, 211);
}
.text6{
    margin-left: 590px;
    margin-top:8px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 6px;
    background-color: rgb(228, 211, 211);
} 
.link{
    margin-top: 8px;
    margin-left: 650px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(255, 60, 0);
}
.edu2{
    margin-left: 580px;
}
.best{
   margin-left: 470px; 
   font-size:18px;
}
.para11{
    margin-left: 580px;
    font-size: 18px;
}

.input4{
    margin-bottom: 
}
.para12{
margin-top: auto;
margin-left: 600px;
    
}
.para3{
    margin-left:600px;
    margin-top: auto;
}
.para8{

        margin-left: 600px;
        margin-top: auto;
    }
.para4{
    margin-left: 600px;
    margin-top: auto;
}
.para5{
    margin-left: 610px;
    margin-top: auto;
}
.para6{
    margin-left: 600px;
    margin-top: auto;
}
.para7{
    margin-left: 600px;
    margin-top: auto;
}
.para8{
    margin-left: 600px;
}

.para9{
    margin-left: 580px;
    margin-top:auto;
}
.shad{
    box-shadow: 225px 225px 225px 225px  #645e5e; 
}
.red1{
    margin-left: 640px;
}
.red2{
    margin-left: 640px;
}
.red3{
    margin-left: 640px;
}
.red4{
    margin-left: 640px;
}
.red5{
    margin-left: 640px;
}
.red6{
    margin-left: 640px;
}
.red7{
    margin-left: 580px;
    padding-top: 15px;
    background-color: #c5bbbb;
}
.para13{
    margin-left: 580px;
    margin-top: 5px;
}
.red8{
    margin-left: 580px;
    padding-top: 15px;
    background-color: #c5bbbb;
}
.para14{
    margin-left: 580px;
    margin-top: 5px;}
    .red9{
        margin-left: 580px;
        padding-top: 15px;
        background-color: #c5bbbb;}
     .para15{
            margin-left: 580px;
            margin-top: 5px;}
   .red10{
     margin-left: 580px;
     padding-top: 30px;
     background-color: #c5bbbb;} 
     .para16{
        margin-left: 580px;
        margin-top: 5px;}  
 .red11{
  margin-left: 580px;
 padding-top: 30px;
 background-color: #c5bbbb;}    
 .para17{
  margin-left: 580px;
 margin-top: 5px;}  
      .red12{
      margin-left: 650px;
      }
.para18{
 margin-left: 620px;
 margin-top: 5px;
} 
.red13{
    margin-left: 650px;
    } 
.para19{
 margin-left: 640px;
  margin-top: 5px;
}
.red14{
 margin-left: 650px;
padding-top: 30px;}
.bord1{
    border: 4px solid red;
    border-radius: 8px;
} 
.bord1{
    border-left: 4px solid red;
    border-bottom: 4px solid red;
}
.bord2{
    border: 4px solid red;
    border-radius: 8px;
    background-color: rgb(129, 115, 115);
}













































































/* .red1{
margin-bottom: 20px;
}
.red2{
    margin-bottom: 20px;
}
.red3{
    margin-bottom: 20px;
}
.red4{
    margin-bottom: 20px;
}
.red5{
    margin-bottom: 20px;
}
.red6{
    margin-bottom: 20px;
    color: violet;
}
.para3{
    margin-top: 6px;
    margin-left: 15px;
}
.red{
    margin-top:4px;
} */