/* .colr{
    background-color: purple;
    color: white;
    }
.thank{
    margin-left: 600px;
    margin-top: 70px;
}
h2{
    margin-left: 590px;
    color: blue;
    font-size: 40px;
    
}
.back{
    margin-left: 650px;
    font-size: 20px;
}
p{
    margin-left: 600px;
    color: rgb(199, 61, 61);
    font-size: 25px;}  */